main {
    padding: 1rem 2rem;
}

.about-hero {
    display: flex;
}


img {
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    /* padding-right: 1.5rem; */
    width: 60%;
}

.social-media {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 5rem;
    /* align-items: center; */
}

.social-media i {
    padding-top: 0.5rem;
    font-size: 2rem;
}
.left-side{
    margin-top: 3rem;
}
.right-side {
    margin-top: 3rem;

}

.right-side h2 {
    padding-bottom: 2rem;
}

.right-side p {
    margin-bottom: 1rem;
}

.icon {
    display: inline;
    background-color: #f9f9f9;
    border-radius: 50%;
    padding: 0.5rem;
    text-align: center;
    float: left;
    margin-right: 0.5rem;

}

.icon i {
    width: 20px;
    height: 20px;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}


/* Mobile Responsiveness */
@media (max-width: 1050px) {

    footer{
        position: static;
        margin-top: 10px;
        width: 100%;
    }
   
    

}

@media (max-width: 858px) {
    main {
        margin-top: 3rem;
    }

    i {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    .left-side {
        margin-top: 8rem;
    }
    footer{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .social-media {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding-left: 2rem;
        /* align-items: center; */
    }
    p i{
        font-size: 0.8rem;
    }


}

@media (max-width: 710px) {


footer{
    position: static;
    margin-top: 10px;
    width: 100%;
}
}


@media (max-width: 700px) {
    main {
        margin: 0px 1rem;


    }
    footer{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }


}

@media (max-width: 650px) {
    .about-hero {
        display: block;
        text-align: center;

    }

    .left-side {
        display: flex;
        align-items: center;
    }

    .social-media {
        padding-left: 2rem;
        padding-right: 0rem;
    }

    .social-media i {
        padding-top: 0.1rem;
        font-size: 0.8rem;
    }
    footer{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    footer{
        position: static;
        width: 100%;
    }

}

@media (max-width: 600px) {
    .left-side {
        display: block;
    }

    .social-media {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        margin-top: 10px;
        /* padding-left: 5rem; */
        /* align-items: center; */
    }

    .image {
        width: 100%;

    }

    img {
        width: 80%;
    }

   


}

@media (max-width: 450px) {

    img {
        width: 100%;
    }

    .left-side {
        margin-top: 5rem;
    }

    .social-media {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin-top: 5px;
        padding-left: 8rem;
        
    }

  

}

@media (max-width: 400px) {

.social-media {
    padding-left: 5rem;
    
}
}