main {
    padding: 1rem 2rem;
}

.about-hero {
    display: flex;


}

.image {
    display: block;
    width: 25rem;
    height: 23rem;
    /* background-color: #302827ea; */
    /* border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%; */
    /* transform: rotate(160deg); */
    object-fit: cover;
}

img {
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.social-media {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 5rem;
    /* align-items: center; */
}

.social-media i {
    padding-top: 0.5rem;
    font-size: 2rem;
}

.right-side {
    margin-top: 3rem;

}

.right-side h2 {
    padding-bottom: 2rem;
}

.right-side p {
    margin-bottom: 1rem;
}




/* Mobile Responsiveness */

@media (max-width: 858px) {
    main {
        margin-top: 3rem;
    }

    p {
        font-size: 0.8rem;
    }

    .left-side {
        margin-top: 8rem;
    }



}


@media (max-width: 700px) {
    main {
        margin: 0px 1rem;


    }

}

@media (max-width: 650px) {
    .about-hero {
        display: block;
        text-align: center;

    }

    .left-side{
        display: flex;
        align-items: center;
    }

    .social-media {
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .social-media i {
        padding-top: 0.1rem;
        font-size: 0.8rem;
    }
    


}

@media (max-width: 600px) {
    .left-side{
        display: block;
    }

.social-media {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /* padding-left: 5rem; */
    /* align-items: center; */
}

.image {
    width: 100%;

}
img{
    width: 80%;
}



}

@media (max-width: 450px) {

    img{
        width: 100%;   
}
.left-side {
    margin-top: 5rem;
}

.social-media {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 0px;
    /* padding-left: 5rem; */
    align-items: center;
}



}