main{
    margin: 0px 8rem;
}

.group-hero{
    display: flex;
    justify-content: space-between;

}
.group-hero img{
    width: 100%;
    height: auto;
}
/* .img-1{
    margin-bottom: 3.8rem;
} */

.small-hero{
    width: 25%;
}
.small-hero p{
    font-size: 0.8rem;
}

.hero-blog {
    background-image: url(https://static.independent.co.uk/2021/05/06/15/The_Bloggess.jpeg?quality=50&width=640&auto=webp);
    width: 100%;
    height: 40rem;
    background-size: cover;
    margin-bottom: 1.5rem;
    width: 70%;
    

}

.hero-content {
    position: absolute;
    bottom: 4rem;
    left: 12rem;
    background-color: rgba(46, 44, 44, 0.5);
}

.hero-content h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
    color: #f9f9f9;

}

.hero-content p {
    font-size: 1rem;
    color: #f9f9f9;

}

.main-blog-content {
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 1.25rem 1.25rem;
    margin-top: 3rem;


}

.main-blog-content img {
    width: 5rem;
    /* height: 100%; */
    margin-right: 1rem;
    border-radius: 8px;
}

.blog-post-group {
    /* border-right: 1px solid rgb(46, 44, 44); */
    grid-column: 1 / 2;

}

.blog-post {
    display: flex;
    /* border: 1px solid rgb(46, 44, 44); */
    border-radius: 8px;
    margin: 2rem auto;
    /* background-color:whitesmoke; */
}


.recent-blog-post {
    margin: 2rem auto 2rem 4rem;
    padding: 0px auto;
    text-align: center;
}

.recent-blog-post img {
    width: 4rem;
}




@media (max-width: 1168px) {
    .hero-blog {
        width: 100%;
        height: 60vh;
        background-size: cover;
        z-index: -2;
        margin-right: 10px;
    }
    .hero-content {
        position: absolute;
        bottom: 18rem;
        left: 8rem;
        background-color: rgba(46, 44, 44, 0.5);
        z-index: -1;
    }
    .hero-content h1 {
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 1.2rem;
        color: #f9f9f9;
    
    }
    


}
@media (max-width: 858px) {
    main{
        margin: 0px 5rem;
    }
    
    .group-hero{
        flex-direction: column;
    
    }
    .hero-blog {
        width: 100%;
        height: 70vh;
        background-size: cover;
        z-index: -2;
    }

    .hero-content {
        position: absolute;
        bottom: 15rem;
        left: 7rem;
        background-color: rgba(46, 44, 44, 0.5);
        z-index: -1;
    }
    
    .small-hero{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .small-hero div{
        padding: 0px 0.5rem;
    }


}

@media (max-width: 750px) {

    .hero-blog {
        height: 60vh;

    }
    .hero-content {
        bottom: 20rem;

    }

}
@media (max-width: 650px) {

    .hero-blog {
        height: 50vh;

    }
    .hero-content {
        bottom: 25rem;
        left: 5rem;

    }


}


@media (max-width: 550px) {
    main{
        margin: 0px 3rem;
    }
    .hero-content {
        left: 4rem;
 
    }
    .hero-content h1 {
        font-size: 1.4rem;

    }
    .small-hero p {
        line-height: 1;

    }
}

@media (max-width: 500px) {
    .main-blog-content{
        display: block;
    }
    .hero-blog {
        width: 100%;
        height: 18rem;
    }
    .hero-content {
        bottom: 30rem;
        left: 3rem;
 
    }
    .hero-content h1 {
        font-size: 1.2rem;

    }
    .blog-post h3{
        font-size: 0.6rem;
    }
    .blog-post p{
        font-size: 0.8rem;
        line-height: 1.1;
    }

    .recent-news{
        display: none;
        
    }
}

@media (max-width: 400px) {
    main{
        margin: 0px 2rem;
    }
    .hero-blog {
        width: 100%;
        height: 15rem ;
    }

    .hero-content {
        left: 2.1rem;
        bottom: 34rem;
 
    }
    .hero-content h1{
        font-size: 0.9rem;
        margin: 5px;
    }

    .blog-post h3{
        font-size: 1rem;
    }

}