main{
    width: 80%;
    margin: auto;
    text-align: center;
}

img{
    width: 30%;
    height: 22rem;
    object-fit: cover;
    border-radius: 8px;
    margin: 15px 10px;
}

@media (max-width: 858px){
    header{
        position: static;
        margin-bottom: 0rem;
    }

    img{
        width: 45%;
        height: 20rem;
    }
    .nav-2{
        position: sticky;
        background-color: #d9ccc5;
    }

}


@media (max-width: 650px){
    img{
        width: 40%;
        height: 15rem;
    }

}


@media (max-width: 450px){

    img{
        width: 60%;
        height: 20rem;
    }

}

@media (max-width: 450px){
    img{
        width: 80%;
        height: 20rem;
    }

}