/* body{
    text-align: center;
} */


h2{
    margin: 2rem;
    text-align: center;
}

ul{
    line-height: 3;
    margin: auto 2rem;
    text-align: center;
}

main li a{
    /* list-style: square; */
    color: rgb(16, 54, 50);
    /* font-size: 1.5rem; */
    
}
.nav-2{
    margin-top: 0;
}
@media (max-width: 858px){

    /* nav was not showing completely on this page so had to move the nav origin position to -150% */
    header ul{
        left: -150%;

    }
    #check:checked ~ul{
        left: -8.5%;
        
    }

}

@media (max-width: 558px){

.nav-2{
    padding: 0rem 3.75rem;
    padding-top: 1rem;
    align-items: center;
    margin: 0px -5.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(46, 44, 44, 0.137);
	position: sticky;
	top: 0;
    background-color: #d9ccc5;
}
}