/* body{
    text-align: center;
} */


h2{
    margin: 2rem;
    text-align: center;
}

ul{
    line-height: 3;
    margin: auto 2rem;
    text-align: center;
}

main li a{
    /* list-style: square; */
    color: rgb(16, 54, 50);
    /* font-size: 1.5rem; */
    
}

@media (max-width: 858px){

    header ul{
        left: -150%;

    }
    #check:checked ~ul{
        left: -8.5%;
        
    }

}