
header{
    padding-top: 2rem;
    justify-content: right;

}


main{
    margin: 0px;
    padding: 0px;
}

.hero{
    padding-top: 8rem;
    margin-left: 6rem;

}


h1{
    color: #f9f9f9;
    font-size: 8rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;

}
h3{
    color: #302827;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0px;
    font-family: 'Raleway', sans-serif;


}
p{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

#main-img{
    position: absolute;
    right: 0;
    bottom: 0rem;
    width: auto;
    height: 70vh;
    z-index: -1;
    
}




/* Mobile responsiveness */

@media (max-width: 858px){
    .hero{
        padding-top: 18rem;
        margin-left: 6rem;
        width: 60%;
    }
   
    h3{
        background-color: rgba(249, 249, 249, 0.4);
        padding: 0.3rem 0px;
        
    }
    p{
        font-size: 0.7rem;
    }




}

@media (max-width: 650px){
    .hero{
        padding-top: 22rem;
        margin-left: 2rem;
    }
    h1{
        font-size: 6rem;
 
    }
    h3{
        font-size: 1rem;
    }
    p{
        font-size: 1rem;
        background-color: rgba(249, 249, 249, 0.4);

    }
    #main-img{
        width: auto;
        height: 60vh;
    }
    

}

@media (max-width: 450px){
    .hero{
        padding-top: 5rem;
        margin-left: 0rem;
        text-align: center;
        width: 100%;
    }
    h1{
        font-size: 5rem;
 
    }
    h3{
        font-size: 1rem;
    }
    p{
        font-size: 0.8rem;
        text-align: center;
    }
    #main-img{
        width: auto;
        height: 50vh;
    }





}

