p img{
    width: 15rem;
}


/* float content(images) left and right */
#work-img-1{
    float: left;
    margin: 0px 8px 0px 0px;
}
#work-img-2{
    float: right;
}

.float-img{
    width: 15rem;
    margin: 2rem auto;
}


.main-cont{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.25rem 1.25rem;

}

#award-list{
    line-height: 2;
    list-style-type: square;
}


/* Responsive design */

@media (max-width: 858px){
    #work-img-1{
        float: left;
        margin: 0px 8px 0px 0px;
        width: 10rem;
    }

    .float-img{
        width: 10rem;
        margin: 2rem auto;
    }
    
}

@media (max-width: 650px){

}

@media (max-width: 450px){
    .float-img{
        width: 8rem;
        margin: 2rem auto;
    }
    
    .main-cont{
        padding: 0px 2rem 0px 1rem;
    }

}
